HRWebService.xsd

<?xml version="1.0" encoding="windows-1252" ?>
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" targetNamespace="http://www.example.org">
    
        <xsd:complexType name="EveryOne">
            <xsd:sequence>
                   <xsd:element name="emplP011" type="xsd:string" nillable="true"/>
                    <xsd:element name="emplPosition" type="xsd:string" nillable="true"/>
                    <xsd:element name="emplServiceDate" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="emplName" type="xsd:string" nillable="true"/>
                    <xsd:element name="emplSupervisorId" type="xsd:long"/>
                    <xsd:element name="emplMailAccount" type="xsd:string" nillable="true"/>
                    <xsd:element name="emplBirthDate" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="emplCostCenterDesc" type="xsd:string" nillable="true"/>
                    <xsd:element name="emplUserAccount" type="xsd:string" nillable="true"/>
                    <xsd:element name="emplID" type="xsd:long"/>
                    <xsd:element name="emplLevel" type="xsd:int"/>
                    <xsd:element name="emplJDEABNumber" type="xsd:string" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
        
        <xsd:complexType name="VitraNom">
                <xsd:sequence>
                    <xsd:element name="fecini" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="valore" type="xsd:float"/>
                    <xsd:element name="noming" type="xsd:string" nillable="true"/>
                    <xsd:element name="subarea" type="xsd:string" nillable="true"/>
                    <xsd:element name="nompvs" type="xsd:string" nillable="true"/>
                    <xsd:element name="totCuo" type="xsd:float"/>
                    <xsd:element name="valpvs" type="xsd:float"/>
                    <xsd:element name="cedciu" type="xsd:string" nillable="true"/>
                    <xsd:element name="banco" type="xsd:string" nillable="true"/>
                    <xsd:element name="nomtra" type="xsd:string" nillable="true"/>
                    <xsd:element name="fecing" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="fecsal" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="numcta" type="xsd:string" nillable="true"/>
                    <xsd:element name="valor1" type="xsd:float"/>
                    <xsd:element name="nomlupag" type="xsd:string" nillable="true"/>
                    <xsd:element name="suebas" type="xsd:float"/>
                    <xsd:element name="valori" type="xsd:float"/>
                    <xsd:element name="nomegr" type="xsd:string" nillable="true"/>
                    <xsd:element name="saldo" type="xsd:float"/>
                    <xsd:element name="valor2" type="xsd:float"/>
                    <xsd:element name="numcuo" type="xsd:int"/>
                    <xsd:element name="numtrj" type="xsd:long"/>
                    <xsd:element name="dias" type="xsd:int"/>
                    <xsd:element name="ccosto" type="xsd:string" nillable="true"/>
                    <xsd:element name="emptotcuo" type="xsd:float"/>
                    <xsd:element name="empnumtrj" type="xsd:long"/>
                    <xsd:element name="numsoc" type="xsd:string" nillable="true"/>
                    <xsd:element name="fecfin" type="xsd:dateTime" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>   

        <xsd:complexType name="RequestStatus">
                <xsd:sequence>
                    <xsd:element name="descStatus" type="xsd:string" nillable="true"/>
                    <xsd:element name="idStatus" type="xsd:long"/>
                </xsd:sequence>
        </xsd:complexType>
        
        <xsd:complexType name="AttendanceDetail">
                <xsd:sequence>
                    <xsd:element name="feching" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="card" type="xsd:long" nillable="true"/>
                    <xsd:element name="inout" type="xsd:string" nillable="true"/>
                    <xsd:element name="aux5" type="xsd:string" nillable="true"/>
                    <xsd:element name="desc" type="xsd:string" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
       
        <xsd:complexType name="CurrentHPC">
                <xsd:sequence>
                    <xsd:element name="fechaFin" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="noEmpleado" type="xsd:long"/>
                    <xsd:element name="evaluacionFinal" type="xsd:float"/>
                    <xsd:element name="fechaInicio" type="xsd:dateTime" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
        
        <xsd:complexType name="Messages">
                <xsd:sequence>
                    <xsd:element name="textSp" type="xsd:string" nillable="true"/>
                    <xsd:element name="textEn" type="xsd:string" nillable="true"/>
                    <xsd:element name="hyperlink" type="xsd:string" nillable="true"/>
                    <xsd:element name="flag" type="xsd:string" nillable="true"/>
                    <xsd:element name="messageId" type="xsd:long"/>
                    <xsd:element name="expiredDate" type="xsd:dateTime" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
    
       <xsd:complexType name="Absences">
                <xsd:sequence>
                    <xsd:element name="fechaIni" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="fechaTer" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
                    <xsd:element name="employeeId" type="xsd:long"/>
                    <xsd:element name="status" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
        
        <xsd:complexType name="Authentication">
            <xsd:sequence>
                <xsd:element name="userID" type="xsd:string" nillable="true"/>
                <xsd:element name="J2EE_USER" type="xsd:string" nillable="true"/>
                <xsd:element name="J2EE_CREDENTIAL" type="xsd:string" nillable="true"/>
                <xsd:element name="J2EE_SERVER" type="xsd:string" nillable="true"/>
                <xsd:element name="J2EE_PORT" type="xsd:string" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
    
        <xsd:complexType name="HPCHistorico">
                <xsd:sequence>
                    <xsd:element name="hprHpc" type="xsd:long"/>
                    <xsd:element name="hpryear" type="xsd:long"/>
                    <xsd:element name="employeeId" type="xsd:long"/>
                </xsd:sequence>
        </xsd:complexType>
        
        
        <xsd:complexType name="AVGAttendance">
                <xsd:sequence>
                    <xsd:element name="absencesTravel" type="xsd:string" nillable="true"/>
                    <xsd:element name="totalWeekHours" type="xsd:float"/>
                    <xsd:element name="averageEnterTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="averageExitTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="supervisorId" type="xsd:long"/>
                    <xsd:element name="employeeId" type="xsd:long"/>
                    <xsd:element name="sequence" type="xsd:long"/>
                    <xsd:element name="flagAT" type="xsd:string" nillable="true"/>
                    <xsd:element name="employeeName" type="xsd:string" nillable="true"/>
                    <xsd:element name="initWeekDate" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="supervisorName" type="xsd:string" nillable="true"/>
                    <xsd:element name="totalInOffice" type="xsd:string" nillable="true"/>
                    <xsd:element name="weekCalendar" type="xsd:string" nillable="true"/>
                    <xsd:element name="endWeekDate" type="xsd:dateTime" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
        
      
        <xsd:complexType name="LabourHistory">
                <xsd:sequence>
                    <xsd:element name="changeReason" type="xsd:string" nillable="true"/>
                    <xsd:element name="stringEffectiveOn" type="xsd:string" nillable="true"/>
                    <xsd:element name="descriptionHrCode" type="xsd:string" nillable="true"/>
                    <xsd:element name="effectiveOn" type="xsd:long"/>
                    <xsd:element name="addressNumber" type="xsd:long"/>
                    <xsd:element name="changeReasonDescription" type="xsd:string" nillable="true"/>
                    <xsd:element name="valueHistoryData" type="xsd:long"/>
                    <xsd:element name="dataHistory" type="xsd:string" nillable="true"/>
                    <xsd:element name="hrCode" type="xsd:string" nillable="true"/>
                    <xsd:element name="sequence" type="xsd:long"/>
                </xsd:sequence>
        </xsd:complexType>  
   
        <xsd:complexType name="RequestList">
                <xsd:sequence>
                    <xsd:element name="requestTwoSalary" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestStatus" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestEnterDate" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="requestOneSalary" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestWorkPlace" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestNumber" type="xsd:long"/>
                    <xsd:element name="requestAdvancePayment" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestAQuId" type="xsd:long"/>
                    <xsd:element name="requestMonth" type="xsd:int"/>
                    <xsd:element name="requestAmount" type="xsd:long"/>
                    <xsd:element name="requestRequestor" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestThreeSalary" type="xsd:string" nillable="true"/>
                    <xsd:element name="requestDate" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="requestApprover" type="xsd:string" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
        
        <xsd:complexType name="AttendanceSummary">
                <xsd:sequence>
                    <xsd:element name="absencesTravel" type="xsd:string" nillable="true"/>
                    <xsd:element name="comments" type="xsd:string" nillable="true"/>
                    <xsd:element name="totalWeekHours" type="xsd:float"/>
                    <xsd:element name="averageEnterTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="averageExitTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="employeeId" type="xsd:long"/>
                    <xsd:element name="week" type="xsd:string" nillable="true"/>
                    <xsd:element name="endDateWeek" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="iniDateWeek" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="YTDAvgEnterTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="YTDAvgTotalOffice" type="xsd:string" nillable="true"/>
                    <xsd:element name="totalInOfficeTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="YTDAvgExitTime" type="xsd:string" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
   
        <xsd:complexType name="SavingPlan">
                <xsd:sequence>
                    <xsd:element name="p6" type="xsd:long" nillable="true"/>
                    <xsd:element name="p9" type="xsd:long" nillable="true"/>
                    <xsd:element name="v3" type="xsd:double" nillable="true"/>
                    <xsd:element name="v9" type="xsd:double" nillable="true"/>
                    <xsd:element name="p2" type="xsd:long" nillable="true"/>
                    <xsd:element name="v4" type="xsd:double" nillable="true"/>
                    <xsd:element name="p3" type="xsd:long" nillable="true"/>
                    <xsd:element name="v1" type="xsd:double" nillable="true"/>
                    <xsd:element name="cedula" type="xsd:string" nillable="true"/>
                    <xsd:element name="nombre" type="xsd:string" nillable="true"/>
                    <xsd:element name="v8" type="xsd:double" nillable="true"/>
                    <xsd:element name="v5" type="xsd:double" nillable="true"/>
                    <xsd:element name="v6" type="xsd:double" nillable="true"/>
                    <xsd:element name="v2" type="xsd:double" nillable="true"/>
                    <xsd:element name="v7" type="xsd:double" nillable="true"/>
                    <xsd:element name="p10" type="xsd:long" nillable="true"/>
                    <xsd:element name="jde" type="xsd:string" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
    
        <xsd:complexType name="TrainingHistory">
                <xsd:sequence>
                    <xsd:element name="nombreCurso" type="xsd:string" nillable="true"/>
                    <xsd:element name="idCurso" type="xsd:string" nillable="true"/>
                    <xsd:element name="notaPractica" type="xsd:float" nillable="true"/>
                    <xsd:element name="emplId" type="xsd:long"/>
                    <xsd:element name="notaTeorica" type="xsd:float" nillable="true"/>
                    <xsd:element name="statusCurso" type="xsd:string" nillable="true"/>
                    <xsd:element name="fechaCurso" type="xsd:dateTime" nillable="true"/>
                </xsd:sequence>
        </xsd:complexType>
   
        <xsd:complexType name="Attendance">
                <xsd:sequence>
                    <xsd:element name="exitTime" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="fechEntered" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="lunchExitTime" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="inOutHours" type="xsd:float"/>
                    <xsd:element name="totalInOffice" type="xsd:float"/>
                    <xsd:element name="lunchBackTime" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="employeeId" type="xsd:long"/>
                    <xsd:element name="enterTime" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="lunchHours" type="xsd:float"/>
                </xsd:sequence>
        </xsd:complexType>
        
        
    <xsd:element name="FindEmployeesBySupervisorIdAndLevelElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authentication" type="Authentication"/>
                <xsd:element name="employeeID" type="xsd:long"/>
                <xsd:element name="level" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindEmployeesBySupervisorIdAndLevelResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="EveryoneList" type="EveryOne" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAbsencesByEmplIdAndDatesElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplId" type="xsd:long"/>
                <xsd:element name="fromDate" type="xsd:string" nillable="true"/>
                <xsd:element name="toDate" type="xsd:string" nillable="true"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAbsencesByEmplIdAndDatesResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="AbsencesList" type="Absences"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetActivePortalMessagesElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetActivePortalMessagesResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="MessagesList" type="Messages"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllEmployeeInforByUserElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="userID" type="xsd:string" nillable="true" />
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllEmployeeInforByUserResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="EveryOneList" type="EveryOne" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllEmployeesHPCElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllEmployeesHPCResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="CurrentHPCList" type="CurrentHPC"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllIncomesDebitsByEmpIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="empID" type="xsd:long"/>
                <xsd:element name="month" type="xsd:int"/>
                <xsd:element name="year" type="xsd:int"/>
                <xsd:element name="incomesOrDebits" type="xsd:int"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllIncomesDebitsByEmpIdResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="VitraNomList" type="VitraNom"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllPortalMessagesElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllPortalMessagesResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="MessagesList" type="Messages"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllRequestStatusElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllRequestStatusResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="RequestStatusList" type="RequestStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAttendanceDetailsByDateAndEmplIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplID" type="xsd:long"/>
                <xsd:element name="dateEnter" type="xsd:string" nillable="true"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAttendanceDetailsByDateAndEmplIdResponse">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="AttendanceDetailList" type="AttendanceDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAttendanceReportByCostCenterElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="costCenter" type="xsd:string" nillable="true"/>
                <xsd:element name="month" type="xsd:int"/>
                <xsd:element name="year" type="xsd:int"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAttendanceReportByCostCenterResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="AVGAttendanceList" type="AVGAttendance"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetErrorByUserElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="userId" type="xsd:string" nillable="true"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetErrorByUserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="error" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHPCByEmployeeIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employeeId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHPCByEmployeeIdResponse">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="CurrentHPCList" type="CurrentHPC"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHistoricalHPCByEmplIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employeeId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHistoricalHPCByEmplIdResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="HPCHistoricoList" type="HPCHistorico"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLabourHistoryByEmplIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLabourHistoryByEmplIdResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="LabourHistoryList" type="LabourHistory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLastUpdatedAttendanceElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLastUpdatedAttendanceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="lastUpdated" type="xsd:dateTime"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLoanByAquIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="aquId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLoanByAquIdResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="RequestList" type="RequestList"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLoansByEmplIDElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplID" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLoansByEmplIDResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="VitraNomList" type="VitraNom"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetReportAttendanceSummaryElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplId" type="xsd:long"/>
                <xsd:element name="month" type="xsd:int"/>
                <xsd:element name="year" type="xsd:int"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetReportAttendanceSummaryResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="AttendanceSummaryList" type="AttendanceSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
    <xsd:element name="GetRequestListByEmplIdAndStatusIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplId" type="xsd:long"/>
                <xsd:element name="statusId" type="xsd:int"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequestListByEmplIdAndStatusIdResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="RequestList" type="RequestList"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequestLoanByRequestNumberElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestNumber" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequestLoanByRequestNumberResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="RequestList" type="RequestList"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetSavingPlanByEmpIDElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetSavingPlanByEmpIDResponse">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="SavingPlanlist" type="SavingPlan"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 
    <xsd:element name="GetTrainingHistoryByEmplIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetTrainingHistoryByEmplIdResponse">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="TrainingHistoryList" type="TrainingHistory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsEmployeeContractorElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="userID" type="xsd:string" nillable="true"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsEmployeeContractorResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="isEmployeeContractor" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
    <xsd:element name="RemoveMessagesByIdElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="messageId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemoveMessagesByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorFlag" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RetrieveTimeSheetByEmpIDAndDatesElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emplID" type="xsd:long"/>
                <xsd:element name="fromDate" type="xsd:string" nillable="true"/>
                <xsd:element name="toDate" type="xsd:string" nillable="true"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RetrieveTimeSheetByEmpIDAndDatesResponse">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="AttendanceList" type="Attendance"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
    <xsd:element name="SaveMessagesElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="expired_Date" type="xsd:dateTime" nillable="true"/>
                <xsd:element name="flag" type="xsd:string" nillable="true"/>
                <xsd:element name="hyperlink" type="xsd:string" nillable="true"/>
                <xsd:element name="textEn" type="xsd:string" nillable="true"/>
                <xsd:element name="textSp" type="xsd:string" nillable="true"/>
                <xsd:element name="messageId" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveMessagesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorFlag" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


            <xsd:element name="SendLoanRequestelement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="req1salary" type="xsd:string" nillable="true"/>
                        <xsd:element name="req2salary" type="xsd:string" nillable="true"/>
                        <xsd:element name="req3salary" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqAdvancepay" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqAmount" type="xsd:long"/>
                        <xsd:element name="reqApprovername" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqApproverto" type="xsd:long"/>
                        <xsd:element name="reqDate" type="xsd:dateTime" nillable="true"/>
                        <xsd:element name="reqPayterms" type="xsd:int"/>
                        <xsd:element name="reqRequestor" type="xsd:long"/>
                        <xsd:element name="reqRequestorname" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqWorkplace" type="xsd:string" nillable="true"/>
                        <xsd:element name="statusId" type="xsd:long"/>
                        <xsd:element name="reqCompany" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqDcto" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqMcu" type="xsd:string" nillable="true"/>
                        <xsd:element name="reqOmcu" type="xsd:string" nillable="true"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            
           <xsd:element name="SendLoanRequestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorFlag" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
    <xsd:element name="UpdateAquIdInLoansElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestNumber" type="xsd:long"/>
                <xsd:element name="aquID" type="xsd:long"/>
                <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="UpdateAquIdInLoansResponse">
          <xsd:complexType>
                  <xsd:sequence/>
          </xsd:complexType>
    </xsd:element>
    
    
    <xsd:element name="UpdateLoanStatusByAquIdElement">
          <xsd:complexType>
            <xsd:sequence>
                        <xsd:element name="aquID" type="xsd:long"/>
                        <xsd:element name="statusLoans" type="xsd:long"/>
                        <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
     
     <xsd:element name="UpdateLoanStatusByAquIdResponse">
            <xsd:complexType>
                    <xsd:sequence/>
           </xsd:complexType>
    </xsd:element>
    
    
    <xsd:element name="VerifyAbsencesByEmplIdAndOneDateElement">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="emplId" type="xsd:long"/>
                    <xsd:element name="oneDate" type="xsd:string" nillable="true"/>
                    <xsd:element name="authentication" type="Authentication"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="VerifyAbsencesByEmplIdAndOneDateResponse">
            <xsd:complexType>
                <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                    <xsd:element name="AbsencesList" type="Absences" />
                </xsd:sequence>
            </xsd:complexType>
    </xsd:element>    
            
            
</xsd:schema>
